@media only screen and (max-width: 426px) {
  .about-us-container {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
  }

  .about-us-header {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #292929;
  }

  .about-us-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: white;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .about-us-subtitle {
    font-family: Barlow;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
  }

  .details-instructions-text {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 1000;
  }

  .principles-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
  }

  .principles-main-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: #292929;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .principles-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 8%;
    margin-top: 0;
  }

  .principles-list::-webkit-scrollbar {
    display: none;
  }

  .principles-list > * {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100vw;
  }

  .principles-instructions {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin: 1%;
  }

  .principles-item {
    display: grid;
    position: relative;
    background-color: #292929;
    width: fit-content;
    justify-items: center;
    align-items: center;
    padding: 8%;
    padding-top: 0;
    scroll-snap-stop: always;
    padding-left: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .principles-item-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Bebas;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .principles-item-description {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-family: Barlow;
    margin: 0;
  }
}

@media only screen and (min-width: 425px) and (max-width: 666px) {
  .about-us-container {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
  }

  .about-us-header {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #292929;
  }

  .about-us-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: white;
    margin-bottom: 0;
    margin-top: 2%;
  }

  .about-us-subtitle {
    font-family: Barlow;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
  }

  .details-instructions-text {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 1000;
  }

  .about-us-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .principles-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
  }

  .principles-main-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: #292929;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .principles-instructions {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin: 1%;
  }

  .principles-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
  }

  .principles-list::-webkit-scrollbar {
    display: none;
  }

  .principles-list > * {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100vw;
  }

  .principles-item {
    display: grid;
    position: relative;
    background-color: #292929;
    width: fit-content;
    justify-items: center;
    align-items: center;
    padding: 8%;
    padding-top: 0;
    padding-bottom: 2%;
    scroll-snap-stop: always;
    padding-left: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .principles-item-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Bebas;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .principles-item-description {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-family: Barlow;
    margin: 0;
  }
}

@media only screen and (min-width: 666px) and (max-width: 920px) {
  .about-us-container {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
  }

  .about-us-header {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #292929;
  }

  .about-us-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: white;
    margin-bottom: 0;
    margin-top: 2%;
  }

  .about-us-subtitle {
    font-family: Barlow;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
  }

  .details-instructions-text {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 1000;
  }

  .principles-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
  }

  .principles-main-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: #292929;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .principles-instructions {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin: 1%;
  }

  .principles-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
  }

  .principles-list::-webkit-scrollbar {
    display: none;
  }

  .principles-list > * {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100vw;
  }

  .principles-instructions {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin: 1%;
  }

  .principles-item {
    display: grid;
    position: relative;
    background-color: #292929;
    width: fit-content;
    justify-items: center;
    align-items: center;
    padding: 8%;
    padding-top: 0;
    padding-bottom: 2%;
    scroll-snap-stop: always;
    padding-left: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .principles-item-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Bebas;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .principles-item-description {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-family: Barlow;
    margin: 0;
  }
}

@media only screen and (min-width: 921px) and (max-width: 1280px) {
  .about-us-container {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
  }

  .about-us-header {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #292929;
  }

  .about-us-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: white;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .about-us-subtitle {
    font-family: Barlow;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
  }

  .details-instructions-text {
    text-align: center;
    font-family: Barlow;
    font-size: 1.5rem;
    margin-bottom: 1%;
    margin-top: 1%;
    font-weight: 1000;
  }

  .about-us-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .principles-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
  }

  .principles-main-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: #292929;
    margin-bottom: 0;
    margin-top: 0;
  }

  .principles-instructions {
    display: none;
  }

  .principles-list {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    margin-top: 0;
  }

  .principles-item {
    display: grid;
    position: relative;
    background-color: #292929;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 1%;
  }

  .principles-item-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Bebas;
    margin-bottom: 0;
    margin-top: 0;
  }

  .principles-item-description {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: Barlow;
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .about-us-container {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
  }

  .about-us-header {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #292929;
  }

  .about-us-title {
    font-family: Bebas;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .about-us-subtitle {
    font-family: Barlow;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
  }

  .details-instructions-text {
    text-align: center;
    font-family: Barlow;
    font-size: 1.75rem;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    font-weight: 1000;
  }

  .about-us-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .principles-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 4%;
  }

  .principles-main-title {
    font-family: Bebas;
    text-align: center;
    font-size: 3.25rem;
    color: #292929;
    margin-bottom: 2%;
    margin-top: 4%;
  }

  .principles-instructions {
    display: none;
  }

  .principles-list {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    margin-top: 0;
    padding-left: 0;
  }

  .principles-item {
    display: grid;
    position: relative;
    background-color: #292929;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 1.5%;
  }

  .principles-item-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Bebas;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 2px;
  }

  .principles-item-description {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: Barlow;
    margin: 0;
  }
}
