@media only screen and (max-width: 415px) {
  .comment-section-title {
    font-family: Bebas;
    font-size: 2.25rem;
    color: white;
    margin-bottom: 0;
    text-align: center;
  }

  .comment-author {
    font-family: Bebas;
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
    text-align: center;
    margin: 0;
  }

  .comment-comment {
    font-family: Barlow;
    font-size: 1.5rem;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
  }
}
