@media only screen and (max-width: 415px) {
  .principles-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
  }

  .principles-main-title {
    font-family: Bebas;
    text-align: center;
    font-size: 2.75rem;
    color: #292929;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .principles-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 8%;
    margin-top: 0;
  }

  .principles-instructions {
    font-family: Barlow;
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
  }

  .principles-list::-webkit-scrollbar {
    display: none;
  }

  .principles-list > * {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100vw;
  }

  .principles-item {
    display: grid;
    position: relative;
    background-color: #292929;
    width: fit-content;
    justify-items: center;
    align-items: center;
    padding: 8%;
    padding-top: 0;
    scroll-snap-stop: always;
    padding-left: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .principles-item-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Bebas;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .principles-item-description {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-family: Barlow;
    margin: 0;
  }
}
